<select class="ui fluid dropdown">
    <option value="MSC">Москва</option>
    <option value="PRM">Пермь</option>
    <option value="CHR">Чернушка</option>
</select>
<script>
    $('.ui.dropdown').dropdown();
</script>
